.Feed {
  flex: 3;
  height: calc(100vh - 60px); /* Subtract the height of the navbar */
  background-color: #e7e7e7;
}

.feed-container {
  color: black;
  background-color: #ddd;
  margin-left: 10px;
  margin-right: 20px;
}

.NewPost {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

  background-color: white;
  height: 50px;
  width: 90%;

  text-align: center;

  border-radius: 10px;
  margin: 0 auto; /* This will horizontally center the element within its parent */
}

.feed-posts {
  background-color: #ddd;
}

.feed-post-content {
}

.feed-post-comments {
}
