.group-names {
    display: flex;
    overflow-x: auto;
    z-index: 100;

}

.group-names h3 {
    margin: 0 100px;
}


.hide-comments {
    display: none;
}

.membersInvite li {
    display: grid;
    align-items: center;
    text-decoration: none;
    grid-template-columns: auto max-content;
    gap: 10px;
}

.membersInvite li button {
    margin-left: 5px;
}