.group-names {
    max-height: 15vh;
    overflow-y: auto;
    padding: 10px;
    margin: 10px;
}

.group-names h3 {
    color: black;
}

.group-names h3:hover {
    background-color: #ccc;
}


.hide-comments {
    display: none;
}

.membersInvite li {
    display: grid;
    align-items: center;
    text-decoration: none;
    grid-template-columns: auto max-content;
    gap: 10px;
}

.membersInvite li button {
    margin-left: 5px;
}

.eventsTable {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    overflow-y: auto;
}

.eventsTable thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
    border-radius: 20px 20px 0 0;
}

.eventsTable th,
.eventsTable td {
    padding: 12px 15px;
    overflow-wrap: break-word;
    max-width: 10vw;
    min-width: 5vw;
}

.eventsTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.eventsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.eventsTable tbody tr:last-of-type {
    border-bottom: 2px solid #007bff;
}
.group-menu {
    width: 100%;
    display: flex;
    font-weight: bold;
}

.group-menu span {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.group-menu span:hover {
    background-color: #ccc;
}