/* Navbar */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1877f2;
  color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.NavbarLogo {
  position: absolute;
  left: 20px;
  top: 7px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  border: 2px solid black;
}

.NavbarLogo:hover {
  border-radius: 10%;
  border: 2px solid black;
}

/*LINKS*/

a {
  text-decoration: none;
  color: white;
}

.links {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 20px;
  display: flex;
  justify-content: flex-end; /* Align all links to the right */
  align-items: center;
}

@media (min-width: 1280px) {
  /* Adjust the positioning for smaller screens */
  .links > a:nth-child(1) {
    position: absolute;
    left: 40%;
  }

  .links > a:nth-child(2) {
    position: absolute;
    left: 50%;
  }

  .links > a:nth-child(3) {
    position: absolute;
    left: 60%;
  }
}

.links > a:not(:first-child) {
  margin-right: 20px;
}

.links > a:last-child {
  margin-right: 0;
}
/* MainContainer.css */
.MainContainer {
  position: absolute;
  left: 0;
  top: calc(60px);
  display: flex;
  height: calc(100% - 60px);
  width: 100%;
}
