.profile-container {
  width: 100%;
  flex: 3;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  /* column layout */
}

.profile-container p {
  color: black;
  font-weight: bold;
}

.profile-info-container {
  flex: 0 0 auto;
  margin-top: 1px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #e7e7e7;
  display: flex;
}

.profilepic {
  border-radius: 5px;
  border: 5px solid #ddd;
  width: 300px;
  height: 300px;
}

.profile-info {
  color: black;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-posts {
  position: relative;
  background-color: #e7e7e7;
  flex: 1;
  overflow-y: auto;
}

.profile-container h1 {
  color: black;
}