.Sidebar {
  flex: 1;
  background-color: #e7e7e7;
  color: black;
}
.sidebar-container {
  margin-left: 20px;
}
.ad-container {
  margin-left: 20px;
  max-width: 200px;
}
.ad1 {
  width: 100%;
}

.sidebar-content {
  margin-left: 20px;
}

/*followers*/
.FollowersList {
  background-color: #ddd;
  flex: 1;
  color: black;
}
