/*css regarding messagebox*/

#chat-title {
    width: 100%;
    background-color: rgba(55, 55, 55, 0.6);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-status {
    position: absolute;
    bottom: 75px;
    height: 30px;
    width: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(55, 55, 55, 0.2);
}

.messages {
    margin: 20 1;
    font-size: 20px;
    max-height: 60%;
}

.messenger_currentUser {
    margin: 10px 1px;
    text-align: left;
    color: red;
}

.messenger_currentUser .nameColor {
    color: wheat;
}

.messenger_currentUser .dateColor {
    color: rgb(192, 192, 192);
}

.messenger_currentUser .separatorColor {
    color: black;
}

.messenger_currentUser .messageColor {
    color: whitesmoke;
}

.messenger_receivingUser {
    margin: 10px 1px;
    color: yellow;
    text-align: left;
}

.messenger_receivingUser .nameColor {
    color: aqua;
}

.messenger_receivingUser .dateColor {
    color: rgb(192, 192, 192);
}

.messenger_receivingUser .separatorColor {
    color: black;
}

.messenger_receivingUser .messageColor {
    color: white;
}

.form-popup {
    display: none;
    background-color: gray;
    color: white;
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 318px;
    height: 400px;
}

#chat {
    bottom: 82px;
    width: 256px;
}

#chatLog {
    height: 245px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-popup .messageUsers {
    border: 1px;
    border-style: solid;
    border-bottom: none;
    border-color: black;
    width: 60px;
    position: absolute;
    right: 0;
    top: -1;
    height: 361px;
    text-align: center;
}

.form-popup .messageUsers {
    cursor: pointer;
}
.form-popup .messageUsers .online {
    color: springgreen;
}
.form-popup .messageUsers .online:hover {
    color: teal;
}
.form-popup .messageUsers .offline {
    color: white;
}
.form-popup .messageUsers .offline:hover {
    color:lightgray;
}

.form-popup .btn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: 258px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-popup .cancel {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: gray;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 25px;
    height: 40px;
    right: 30px;
    width: 319px;
}

.form-popup .cancel:hover {
    background-color: red;
}

.form-popup #chat #textBox {
    resize: none;
    float: left;
    background-color: white;
    color: black;
    width: 256px;
    position: absolute;
    bottom: 40px;
    left: 0;
}

.open-button {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: gray;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 25px;
    height: 40px;
    right: 30px;
    width: 319px;
}

.open-button:hover {
    background-color: red;
    color: white;
}

.notificationBar {
    position: fixed;
    top: 25;
    right: 30px;
    width: auto;
    height: 75;
    width: 400;
    text-align: center;
    background-color: teal;
    border: 5px solid aqua;
    color: tomato;
    border-radius: 5px;
}

.notificationBar {
    position: fixed;
    top: 25;
    right: 30px;
    width: auto;
    height: 75;
    width: 400;
    text-align: center;
    background-color: teal;
    border: 5px solid aqua;
    color: red;
    border-radius: 5px;
}

.notificationMessage {
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.notificationMessage:hover {
    color: tomato;
}

#notificationBNT {
    position: absolute;
    top: 0;
    right: 0;
}

#notificationBNT:hover {
    background: tomato;
    color: white;
    cursor: pointer;
}

.notificationBar h1 {
    display: flex;
    font-size: x-large;
}