#posts {
    text-align: center;
}

.post {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-image: url("/forum/images/background.png");
    background-size: cover;
    min-height: 60px;
    max-height: 10%;
    cursor: pointer;
    margin: 0 auto;
    width: 80%;
}

.post:hover {
    border-color: darkslategrey;
}

.datePosted {
    position: absolute;
    bottom: 2;
    right: 5;
    color: palegreen;
}

.postCategory {
    position: absolute;
    right: 5;
    color: brown;
}

.postTitle {
    position: absolute;
    top: 10;
    width: 100%;
    color: aqua;
}

.originalPoster {
    position: absolute;
    bottom: 2;
    left: 5;
    color: blue;
}

.post a {
    text-decoration: none;
    color: red;
}

#openedPost {
    position: absolute;
    top: 45;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.closePostBTN {
    position: absolute;
    right: 5;
    top: 5;
    width: 40;
    height: 40;
    background-image: url("/forum/images/x.png");
    background-size: cover;
    font-size: xx-large;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.newComment {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
    color: black;

}

.newComment:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}


.closePostBTN:hover {
    font-size: small;
    border: 1px;
    border-style: solid;
    border-color: pink;
}



.newCommentSection {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;

    color: yellow;
    background-image: url("/forum/images/main_menu_noname.png");
}

#CreateCommentError {
    position: absolute;
    width: 100%;

    margin: 0 auto;
    text-align: center;
    left: 0;
    top: 85%;
}

.addCommentButton {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    left: 0;
    bottom: 0;

    background-color: white;
    color: black;
    border: 1 solid black;
}

.addCommentButton:hover {
    background-color: black;
    color: white;
    border: 1 solid white;
}

.newCommentBox {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    text-align: left;
}

.createPostSection {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
}

.cancelPostButton {
    background-color: green;
    width: auto;
    right: 5;
}

.openPostBTN {
    border: 5 solid yellow;
    background-color: green;
    color: aqua;
}

.openPostBTN:hover {
    border: 5 solid wheat;
    background-color: yellow;
    color: black;
}

#createPostForm {
    color: red;
    text-align: center;
}

.cancelCommentButton {
    position: absolute;
    top: 5;
    right: 5;
    width: 40;
    height: 40;
    background-image: url("/forum/images/x.png");
    background-size: cover;
    font-size: xx-large;
}

.cancelCommentButton:hover {
    font-size: small;
    border: 1px;
    border-style: solid;
    border-color: pink;
}

#profilepic {
    max-width: 100;
    max-height: 100;
}

#openedPostAvatar {
    position: absolute;
    left: 0;
    top: 0;
}

#openedPostSection {
    position: absolute;
    left: 12.5%;
    /* Adjust the left position to center the comment section */
    height: 35%;
    width: 75%;
    top: 5%;
    text-align: justify;
    background-color: rgb(45, 111, 41);
    /*postcolor*/
}

#openedPostTitle {
    position: absolute;
    width: 100%;
    top: 5px;
    left: 120px;
    font-size: xx-large;

}

#openedPostContent {
    position: absolute;
    top: 50px;
    left: 120px;
    max-height: 300;
    max-width: 90%;
    word-wrap: break-word;
    text-align: justify;
}

#openedPostOriginalPoster {
    position: absolute;
    top: 100;
}

#openedPostLikes {
    position: absolute;
    top: 150;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
}

#openedPostDisLikes {
    position: absolute;
    top: 150;
    left: 50;
    margin: 0 auto;
}

#openedPostDate {
    position: absolute;
    top: 125;
    margin: 0 auto;
}

#openedPostCommentSection {
    position: relative;
    background-color: rgb(35, 69, 33);
    /*postcolor*/
    width: 75%;
    height: 55%;
    top: 41%;
    left: 12.5%;
    /* Adjust the left position to center the comment section */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
}

#openedPostComment {
    display: flex;
    /* Add flex display for positioning */
    align-items: flex-start;
    /* Align items to the top */
    margin-bottom: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    word-wrap: break-word;
}

#openedPostCommentAvatar {
    margin-right: 10px;
    /* Add margin to separate avatar from content */
    word-wrap: break-word;
}

#openedPostCommentOP {
    font-weight: bold;
    margin-bottom: 5px;
    word-wrap: break-word;
}


#openedPostCommentContent {
    display: flex;
    flex-direction: column;
    /* Arrange content in a column */
    justify-content: center;
    /* Center content vertically */
    text-align: center;
    /* Center the content */
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

#openedPostCommentDate {
    color: wheat;
    word-wrap: break-word;
}